body { 
font-family: Arial, Helvetica, sans-serif;
overflow-x: hidden;
}
img {margin: 15px;}

header {
    background-color: #0faa;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  nav {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
  }

#img {display: flex;
justify-content: center;
background-size: cover;
}
#img img {width: 100%; max-width: 1024px; max-height: 524px;}

li {list-style: none;}

.blocos {display: flex;
justify-content: center;
justify-content: space-around;
margin: 15px;
}

article {display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
   .img2 {max-width: 400px; max-height: 400px; width: 100%;}
  
   .ajuda {display: flex; justify-content: center;}

  #voluntario, #inscrever {font-size: larger; font-weight: bold;}
  #voluntario:hover, #inscrever:hover {background-color: aliceblue; cursor: pointer; border: none;}


   button {border-radius: 5px; font: bold; font-size: large; background-color: rgb(56, 48, 48); color: rgb(0, 0, 0); padding: 10px;}
   button:hover {background-color: aliceblue; cursor: pointer;}

   footer {display: flex;   
    flex-direction: column;
    background-color: #0faa;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}


.margin { margin-left: 75px; margin-right: 75px;}
footer, header {height: 75px;}