body { 
font-family: Arial, Helvetica, sans-serif;
overflow-x: hidden;
margin: 0%;
}
img {margin: 15px;}

.FECAP {display: flex; flex: start; width: 30%; height: 30%;}

header {
    background-color: #0faa;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .mainFORM {margin: 95px;}


  nav {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin-left: auto;
  }

#img {display: flex;
justify-content: center;
background-size: cover;
}
#img img {width: 100%; max-width: 1024px; max-height: 524px;}

li {list-style: none;}

.blocos {display: flex;
justify-content: center;
justify-content: space-around;
margin: 15px;
}

article {display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
   .img2 {max-width: 400px; max-height: 400px; width: 100%;}
  
   .ajuda {display: flex; justify-content: center; flex-wrap: nowrap;}

  #voluntario, #inscrever {font-size: larger; font-weight: bold;}
  #voluntario:hover, #inscrever:hover {text-decoration: underline; cursor: pointer; border: none;}


   footer {display: flex;   
    flex-direction: column;
    background-color: #0faa;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  
  .margin { margin-left: 75px; margin-right: 75px;}
  footer, header {height: 75px;}
  a {text-decoration: none; color: black;}
  li:hover { cursor: pointer;}
  
  .mainFORM {display: flex; justify-content: center;} 
  
  .mainFORM2 {display: flex; align-items: center; flex-direction: column; margin-top: 5%; background-color: rgb(94, 101, 105);} 
  
  .form-group {width: 100%;}
  
  .buttonForm {border-radius: 5px; background-color: #0faa;}
  .buttonForm a {text-decoration: none; color: black;}
  .marginButton {margin-top: 7px;}
  
  .form-check {width: 300px; margin-top: 7px;}
  .form-check-label {background-color: aquamarine;}
  
  #word, #powerpoint, #excel {border-radius: 0;}

@media (min-width: 280px) and (max-width: 900px) {
  * {
    margin: 0;
    padding: 0;
  }

  .content-blocks {
    display: flex;
    margin: 0 2%;
    gap: 2%;
  }
  
  .container-content {
    flex-direction: column;
    display: flex;
    flex: 1;
    background-color: white;
  }
  
  .more-content {
    background-color: rgb(206, 206, 206);
    margin: 8px;
    height: 16vh;
  }

  .voluntary-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .imagen-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: hidden;
    padding: 20% 20% 20% 0;
  }

  .imagen-container img {
    flex-shrink: 0;
    max-width: 100%;
    max-height: 100%;
  }

  #img {
    margin: 0 4%;
  }

  .content-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}
